[submodule "AppTemplate/Submodules/imgui"]
	path = AppTemplate/Submodules/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "AppTemplate/Submodules/tinyfd"]
	path = AppTemplate/Submodules/tinyfd
	url = http://git.code.sf.net/p/tinyfiledialogs/code
[submodule "External/SDL2"]
	path = External/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
